<div class="container">

    <div class="col-md-6 offset-3">
        <h4>Login</h4>
        <div class="card">
            <p class="card-text login-card-item">Email &nbsp;<input type="email" class="form-control" ng-model="email"></p>
            <p class="card-text login-card-item">Password &nbsp;<input type="password" class="form-control" ng-model="password"></p>
            <div class="card-body">
                <button class="btn btn-primary" ng-click="login()">Submit</button>
            </div>
        </div>
    </div>
</div>
